SECRET_KEY=change-me-with-a-long-random-string
DEBUG=False

DB_NAME=db_job_applications
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

RESEND_API_KEY=re_xxx
EMAIL_FROM=no-reply@ton-domaine.com
HOST_URL=http://TON_IP_OU_DOMAINE

ALLOWED_HOSTS=TON_IP_OU_DOMAINE
CORS_ALLOWED_ORIGINS=http://TON_IP_OU_DOMAINE
VITE_API_URL=http://TON_IP_OU_DOMAINE/api
