SECRET_KEY=change-me-with-a-long-random-string
DEBUG=False

DB_NAME=db_job_applications
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

RESEND_API_KEY=re_xxx
EMAIL_FROM=no-reply@follow-myapplications.kbaddour.fr
HOST_URL=https://follow-myapplications.kbaddour.fr

ALLOWED_HOSTS=follow-myapplications.kbaddour.fr
CORS_ALLOWED_ORIGINS=https://follow-myapplications.kbaddour.fr
VITE_API_URL=https://follow-myapplications.kbaddour.fr/api
